body, td, th {
  font-family:Tahoma, Geneva, sans-serif;
  font-size: 15px;
  color: #444;
}
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background: #fff;
}
.clear {
  clear:both;
}
a {
  color: #64A500;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #000;
}
h1, h2, h3, h4, h5, h6 {
  font-family:Tahoma, Geneva, sans-serif;
  margin:0px 0px 0px 0px;
  padding:0px 0px 20px 0px;
  line-height:1.3em;
  font-weight:normal;
}
h1 {
  font-size: 30px;
  color: #000;
}
h2 {
  font-size: 24px;
  color: #000;
}
h3 {
  font-size: 22px;
  color: #000;
}
h4 {
  font-size: 18px;
  color: #fff;
}
h5 {
  font-size: 16px;
  color: #000;
}
h6 {
  font-size: 14px;
  color: #000;
}
form {
  border:0px;
  margin:0px;
  padding:0px;
}
img {
  border:0px;
}

.borderbar {
  border-bottom:dashed 1px #ccc;
  padding-bottom:25px;
  margin-bottom:25px;
}


.wrapper {
  margin:0px auto 0px auto;
  padding:0px 0px 0px 0px;
  max-width:1000px;
  position:relative;
}
.footerwrapper {
  margin:auto;
  padding:0px 0px 0px 0px;
  text-align: center;
  position:relative;
  background-color: #444444;
  letter-spacing: 1px;
}

.footerwrapper a {
  color: #FFFFFF;
  text-decoration: none;
}
.footerwrapper a:hover {
  text-decoration: none;
  color: #64A500;
}

.clientmarginwrapper {
  margin:0px auto 0px auto;
  padding:0px 0px 0px 0px;
  width:1000px;
  position:left;
}
#header {
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  height:100px;
  position:relative;
  background:url(/images/header.png) left top repeat-x;
}
#logo {
  margin:0px 0px 0px 10px;
  padding:15px 0px 15px 0px;
  width:270px;
  height:70px;
  float:left;
}

.login {
  margin:0px 5px 0px 0px;
  padding:0px 0px 0px 0px;
  float:right;
  height:40px;
}

.login.s80 a {
  width:80px;
}
.login a {
  color:#fff;
  font-size:16px;
  text-decoration:none;
  text-align:center;
  line-height:40px;
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  display:block;
  width:120px;
  height:40px;
  background-color:#68AE00;
  -webkit-border-radius: 0px 0px 6px 6px;
  -moz-border-radius: 0px 0px 6px 6px;
  border-radius: 0px 0px 6px 6px;
}

.login a:hover, .login .dropdown-menu>li>a:hover {
  background-color:#000 !important;
  background-image: none;
  color: #FFF;
}
.login .dropdown-menu>li>a {
  width: 110px;
  margin: auto 5px;
}
.login .dropdown {
  list-style: none;
}
.login .dropdown-menu {
  background-color: transparent;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}
.login .dropdown-menu>li>a {
    color: #FFF;
}
#homebanner {
  background:url(/images/homebanner.png) left top repeat-x;
  height:320px;
  margin:0px 0px 25px 0px;
  padding:0px 0px 0px 0px;
}

#homebanner .image {
  height:291px;
  width:361px;
  float:left;
  margin:15px 0px 0px 40px;
  padding:0px 0px 0px 0px;
}

#homebanner .description {
  width:550px;
  float:right;
  margin:30px 30px 0px 0px;
  padding:0px 0px 0px 0px;
}

#containerleft {
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  width:410px;
  float:left;
  position:relative;
}

#containerleftbox {
  background:url(/images/boxgrad.png) left top repeat-x;
  margin:0px 0px 0px 0px;
  padding:15px 15px 15px 15px;
  width:378px;
  position:relative;
  border:solid 1px #ccc;
}

#testimonial {
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  width:378px;
  position:relative;
}

#testimonial .picture {
  margin:0px 0px 0px 0px;
  padding:4px 4px 4px 4px;
  width:100px;
  position:relative;
  border:solid 1px #ccc;
  float:left;
}

#testimonial .testimonialtxt {
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  width:250px;
  position:relative;
  color:#999;
  float:right;
}

#testimonial .testimonialtxt span {
  color:#000;
}


#containerright {
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  width:540px;
  float:right;
  position:relative;
}

.benefitlisting {
  margin:0px 0px 15px 0px;
  padding:10px 10px 10px 10px;
  width:518px;
  border:solid 1px #ccc;
  position:relative;
}

.benefitlisting img {
  margin:0px 15px 0px 0px;
  padding:0px 0px 0px 0px;
  position:relative;
  float:left;
}
.seperator {
  clear:both;
  background:url(/images/seperator.png) center top no-repeat;
  height:26px;
  width:1000px;
  margin:0px 0 35px 0px;
  padding:0px 0px 0px 0px;
}


#footer {
  background:#444;
  height:60px;
  margin:30px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  color:#fff;
  font-size:14px;
  line-height:60px;
}
#loginbanner {
  background:url(/images/homebanner.png) left top repeat-x;
  height:50px;
  margin:0px 0px 5px 0px;
  padding:0px 0px 0px 0px;
}
#menu {
  background:url(/images/homebanner.png) left top repeat-x;
  height:30px;
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  text-align:center;
  font-family: Tahoma,Geneva,sans-serif;
  font-weight: normal;
  line-height: 1.3em;
  margin: 0;
  color: #FFFFFF;
  padding: 0 0 20px;
  font-weight: 800;
}
#loginwrapper {
  margin:0px auto 25px auto;
  padding:0px 0px 0px 0px;
  width:356px;
  text-align:center;
}
#clientwrapper {
  margin:0px auto 25px auto;
  padding:0px 0px 0px 0px;
  width:800px;
  text-align:center;
}

.loginformfield {
  color:#999;
  font-size:18px;
  line-height:48px;
  margin:0px 0px 20px 0px;
  padding:0px 5px 0px 5px;
  display:block;
  width:344px;
  height:48px;
  background:#fff url(/images/formfieldbg.png) left top repeat-x;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  border:solid 1px #ccc;
}

.hc_btns{
  text-align: right;
  padding: 29px 0 0;
}
.bg-panel{
  background-color: #fff;
  border: 1px #ccc solid;
  border-radius: 5px;
}
.bg-panel .top-section{
  border-bottom: 1px #ccc solid;
  padding: 20px;
}
.bg-panel .top-section .title-section{
  color: #FE9A2E;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
}
.bg-panel .bottom-section{
  padding: 20px;
}
.bg-panel .bottom-section label{
  font-size: 12px;
}
.bg-panel .bottom-section .form-control.small-width{
  width: 50%;
}
.bg-panel .bottom-section .textarea-cnt{
  border: 1px #ccc solid;
  border-radius: 4px;
}
.bg-panel .bottom-section .textarea-cnt textarea{
  border: none;
}
.bg-panel .bottom-section .textarea-cnt .max-chars{
  text-align: right;
  margin: 5px;
  font-size: 10px;
}

.bg-panel .bottom-section .silver-bg{
  border-radius: 4px;
  border: 1px #ccc solid;
  background-color: #f1f1f1;
  padding: 10px;
}
.bg-panel .bottom-section .radios-cnt{
  border-radius: 4px;
  border: 1px #ccc solid;
  background-color: #fff;
  margin: 20px auto 45px;
  padding: 10px;
  width: 430px;
  height: 43px;
}
.bg-panel .bottom-section .radios-cnt .radio{
  float: left;
  margin: 0 10px;
}
.bg-panel .bottom-section .radios-cnt .radio p{
  margin-top:10px;
}
.top-page{
  margin-bottom: 25px;
}
.top-page .logo-cnt{
  background:transparent url(/images/logo-example.png) no-repeat 0% 50%;
  padding: 20px 0 20px 112px;
}

.top-page .top-image{
  height: 300px;
  overflow: hidden;
  position: relative;
}
.top-page .top-image img{
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  border-radius: 10px;
}
.top-page .top-image .company-info-cnt{
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background:transparent url(/images/dark-trans.png) repeat 0% 0%;
  padding: 10px;
  color: #fff;
  left: 15px;
}